@model StrongmanApp.Models.CompetitionEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompetitionEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
    </dl>
</div>
@if (User.IsInRole("admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" asp-route-compId="@Model?.Competition.Id">Edit</a> |
        <a asp-action="Index" asp-route-id="@ViewBag.CompId">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index" asp-route-id="@ViewBag.CompId">Back to List</a>
    </div>
}

