@model StrongmanApp.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        
        
            
        
    </dl>
    
</div>
@if (Model.VideoURL != null)
{
    <div style="flex: 8;">
        <iframe allow="fullscreen" src="@Html.DisplayFor(model => model.VideoURL)">
            </iframe>
        </div>
}
@if (User.IsInRole("admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
